/**override styles for ign base template**/


/**base styles for each new project**/
body {
	background-color: black;
}

/**mixins**/
@mixin typekit(){
	font-family: "alternate-gothic-no-1-d",sans-serif;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -2px;
	text-transform: uppercase;
}

@font-face {
    font-family: 'lektonregular';
    src: url('../fonts/lekton-regular_1401958018-webfont.eot');
    src: url('../fonts/lekton-regular_1401958018-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lekton-regular_1401958018-webfont.woff2') format('woff2'),
         url('../fonts/lekton-regular_1401958018-webfont.woff') format('woff'),
         url('../fonts/lekton-regular_1401958018-webfont.ttf') format('truetype'),
         url('../fonts/lekton-regular_1401958018-webfont.svg#lektonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**end mixins**/
.alert-error {
	position: fixed;
	top: 0px;
	display: block;
	z-index: 999;
	margin-top: 60px;
	width: 100%;
	width: 50%;
	margin-left: -25%;
	left: 50%;

	li {
		-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
		-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 1);
		box-shadow:         0px 0px 6px rgba(0, 0, 0, 1);
		text-align: center;
	}
}

section a.button, section input.button {
	@include typekit();
	font-size: 34px;
	letter-spacing: 6px;
	padding: 0.7rem 4rem 0.3rem;
	margin: 3% 0px;
}

.stuck {
	position: fixed;
	top: 0px;
	z-index: 999;
}

.aboutthegame {
	p {
		font-family: 'lektonregular';
		color: white;
		font-size: 14px;
	}

	h2, .flex-video {
		@include typekit();
		font-size: 46px;
		line-height: 0.9;
		margin: 30px 0px 5%;
		color: white;
	}

	.flex-video {
		margin-top: 100px;
	}
}

.results {
	color: white;
	letter-spacing: 2px;
	text-align: center; 
	font-size: 13px;
}

#confirm_modal {
	height: 170px;
	min-height: inherit;
	border: none;

	h2 {
		@include typekit();
		font-size: 42px;
	}

	p {
		font-size: 16px;
	}
}

header {
	width: 100%;
	background: black url(../img/evil_header-img.jpg) center 47px no-repeat;
	background-size: 100%;
	padding-bottom: 24%;

	.header_wrapper {
		margin-top: 30px;
	}

	.secondary.nav {
		background: url(../img/second_nav-bg.jpg) top center;
		background-size: 100%;
		height: 47px;
		width: 100%;


		ul {
			width: 900px;
			margin: auto;
			display: block;
			list-style: none;

			li {
				width: 25%;
				float: left;
				padding: 0px;
				text-align: center;
				height: 47px;
				background: url(../img/divider.jpg) left center no-repeat;
				padding-left: 1px;
				overflow: hidden;
				
				&:first-child {
					background: none;
					padding-left: 0px;
				}




				a {
					font-family: 'lektonregular';
					color: white;
					text-transform: uppercase;
					width: 100%;
					text-align: center;
					letter-spacing: 2px;
					text-shadow: 0px 0px 3px #000;
					padding: 14px;
					display: block;

					&.active {
						background: url(../img/selected_bg.jpg) top center no-repeat;
					}
				}
			}
		}
	}

	img.evilLogo {
		display: block;
		margin: auto;
		width: 55%;
	}

	.pre-order_wrapper {
		background: transparent url(../img/pre_order.png) top center no-repeat;
		background-size: 100%;
		width: 100%;
		padding-bottom: 85%;

		a {
			@include typekit();
			color: white;
			font-size: 38px;
			bottom: 97px;
			position: absolute;
			margin-left: 60px;
			letter-spacing: 0px;
			line-height: 35px;

			span {
				float:right;
				height: 36px;
				width: 36px;
				display: block;
				background: black url(../img/pre-order-icon.jpg) top center no-repeat;
				background-size: 80%;
				margin-left: 10px;
			}
		}
	}

	h1 {
		@include typekit();
		font-size: 54px;
		line-height: 0.9;
	}
}

.main-section {
	min-height: 500px;
	background: black url(../img/vote_bg-texture.jpg) center bottom no-repeat;


	.large-6.large-centered {

		background: black url(../img/evil_header-img.jpg) center top no-repeat;
		padding: 0px;
		margin: 30px 0px;
		margin-left: auto;
		margin-right: auto;
		-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
		-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 1);
		box-shadow:         0px 0px 6px rgba(0, 0, 0, 1);

		a.button {
			@include typekit();
			letter-spacing: 6px;
			color: black;
			display: block;
			background: transparent url(../img/splatter-corner.png) right -120px no-repeat;
			width: 100%; 
		}
	}

	p, a {
		font-family: 'lektonregular';
	}


	.row {
	
	}

	.large-3 {
		padding-top: 1.86em;

		.blud_wrapper {
			background: #222222 url(../img/blood_splatter.png) 20px -200px no-repeat; 
			overflow: hidden;
			padding: 20px 20px 0px;
			-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
			-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 1);
			box-shadow:         0px 0px 6px rgba(0, 0, 0, 1);

			img {
				-webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
				-moz-box-shadow:    0px 0px 6px rgba(0, 0, 0, 1);
				box-shadow:         0px 0px 6px rgba(0, 0, 0, 1);
			}
		}

		.voting_panel {
			height: 15%;
			background: black url(../img/evil_header-img.jpg) center top no-repeat;
			color: black;
			position: relative;
			background-size: 150%;

			&:hover {
				cursor: pointer;
			}

			p {
				width: 100%;
				text-align: center;
				padding-top: 1%;
				@include typekit();
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 34px;
			}

			.check {
				height: 25px;
				width:25px;
				border-radius: 50%;
				position: absolute;
				background-color: transparent;
				border: 1px solid #000;
				right: 6%;
				top: 28%;

				&.selected {
					span {
						background: transparent url(../img/splatter.png) center center no-repeat;
						display: block;
						position: absolute;
						height: 25px;
						width: 25px;
					}
				}
			}
		}
	}
}

.logo_garden {
	img {
		padding: 0% 0px 0%;
		margin: auto;
		display: block;
	}
}

/*body.thankyou {
	.comp {
		background: black url(../img/online_jaw_1399631052.png) center top no-repeat;
	}
}*/
.comp {
	background: black url(../img/comp_bg.jpg) center top no-repeat;
	min-height: 520px;
	background-size: 100%;

	p, a {
		font-family: 'lektonregular';
	}

	.thanksWrapper {
		text-align: center;
	}

	.button {
		font-size: 2.5vw;
	}

	.comp_wrapper {

		.pushDown {
			margin-bottom: 10px; 
		}

		input {
			display: block;
			margin-top: 3px;
		}

		h2 {
			@include typekit();
			font-size: 46px;
			line-height: 0.9;
			margin: 15% 0px 5%;
		}

		p {
			font-size: 1.1vw;
		}


		form {
			h2 {
				margin: 13% 0px 3%;
			}
		}


		input.button {
			@include typekit();
			font-size: 2.5vw;
			letter-spacing: 3px;
			margin-top: 15px;
		}
	}


	label {
		font-family: 'lektonregular';
		font-weight: 600;

		&.checkboxLabel {
			font-family: $body-font-family;
			font-size: 12px;

			a {
				font-family: $body-font-family;
				font-weight: 600;
			}
		}
	}


}

p.sml_text {
	font-size: 11px;
	text-align: center;
	margin: 40px 0px;
	color: white;
	padding: 0px 10%;
}

/**end base styles**/


// Small screens

@media only screen and (max-width: 40em) { 


	#share_override.share_btn.sharer-0 .social ul li {
		width: 50px;
	}


	header {
		background-size: 150%;
		padding-bottom: 10%;
		background-position: center 0px;


		.header_wrapper {
			margin-top: 0px;
		}

		h1 {
			font-size: 40px;
			text-align: center;
			color: white;
		}

		img.evilLogo {
			margin-top: 10px;
			margin-bottom: 145px;
			width: 25%;
		}
	}

	.aboutthegame .flex-video {
		margin-top: 0px;
	}

	nav {
		-webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
		box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
	}

	.secondary.nav {
		display: none;
	}

	.main-section .large-3 .voting_panel {
		height: 60px;
	}

	.logo_garden img {
		min-width: 150%;
		margin-left: -25%;
	}

	.comp {
		background-size: cover;

		label {
			color: black;
		}

		.comp_wrapper h2 {
			margin: 7% 0px 2%;
		}

		.comp_wrapper input.button {
			font-size: 34px;
			margin: 20px auto 30px;
		}

		form h2 {
			color: black;
		}

		p {
			display: none;
		}
	}


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

// Medium screens

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

	.main-section .large-3 .voting_panel .check {
		right: 6%;
		top: 36%;
	}

	header {
		background-size: 120%;
		padding-bottom: 23%;


		h1 {
			font-size: 5.5vw;
		}
	}

	.main-section .large-6.large-centered a.button {
		padding: 0.7rem 0rem 0.3rem;
	}

	.logo_garden {
		img {
			padding: 5%;
			margin: auto;
			display: block;
		}
	}

	.main-section .large-3 .voting_panel {
		height: 60px;
	}




} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

// Large screens
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */
